@font-face {
    font-family: 'icomoon';
    src:  url('fonts/map/icomoon.eot?qzh44x');
    src:  url('fonts/map/icomoon.eot?qzh44x#iefix') format('embedded-opentype'),
      url('fonts/map/icomoon.ttf?qzh44x') format('truetype'),
      url('fonts/map/icomoon.woff?qzh44x') format('woff'),
      url('fonts/map/icomoon.svg?qzh44x#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-servicios_agricolsa:before {
    content: "\e901";
  }
  .icon-industria_lechera:before {
    content: "\e902";
  }
  .icon-Porcinos:before {
    content: "\e903";
  }
  .icon-Ovinos:before {
    content: "\e904";
  }
  .icon-avicola:before {
    content: "\e905";
  }
  .icon-piscicola:before {
    content: "\e906";
  }
  .icon-floricultura:before {
    content: "\e907";
  }
  .icon-agroquimico:before {
    content: "\e908";
  }
  .icon-licores:before {
    content: "\e909";
  }
  .icon-botella_vino:before {
    content: "\e90a";
  }
  .icon-tutuma:before {
    content: "\e900";
  }