.info-box {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    background: #ffffff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
  }
  
  .info-box .progress {
    background-color: rgba(0, 0, 0, 0.125);
    height: 2px;
    margin: 5px 0;
  }
  
  .info-box .progress .progress-bar {
    background-color: #ffffff;
  }
  
  .info-box .info-box-icon {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
  }
  
  .info-box .info-box-icon > img {
    max-width: 100%;
  }
  
  .info-box .info-box-content {
    -ms-flex: 1;
    flex: 1;
    padding: 5px 10px;
  }
  
  .info-box .info-box-number {
    display: block;
    font-weight: 700;
  }
  
  .info-box .progress-description,
  .info-box .info-box-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .info-box .info-box .bg-primary,
  .info-box .info-box .bg-gradient-primary {
    color: #ffffff;
  }
  
  .info-box .info-box .bg-primary .progress-bar,
  .info-box .info-box .bg-gradient-primary .progress-bar {
    background-color: #ffffff;
  }
  
  .info-box .info-box .bg-secondary,
  .info-box .info-box .bg-gradient-secondary {
    color: #ffffff;
  }
  
  .info-box .info-box .bg-secondary .progress-bar,
  .info-box .info-box .bg-gradient-secondary .progress-bar {
    background-color: #ffffff;
  }
  
  .info-box .info-box .bg-success,
  .info-box .info-box .bg-gradient-success {
    color: #ffffff;
  }
  
  .info-box .info-box .bg-success .progress-bar,
  .info-box .info-box .bg-gradient-success .progress-bar {
    background-color: #ffffff;
  }
  
  .info-box .info-box .bg-info,
  .info-box .info-box .bg-gradient-info {
    color: #ffffff;
  }
  
  .info-box .info-box .bg-info .progress-bar,
  .info-box .info-box .bg-gradient-info .progress-bar {
    background-color: #ffffff;
  }
  
  .info-box .info-box .bg-warning,
  .info-box .info-box .bg-gradient-warning {
    color: #1F2D3D;
  }
  
  .info-box .info-box .bg-warning .progress-bar,
  .info-box .info-box .bg-gradient-warning .progress-bar {
    background-color: #1F2D3D;
  }
  
  .info-box .info-box .bg-danger,
  .info-box .info-box .bg-gradient-danger {
    color: #ffffff;
  }
  
  .info-box .info-box .bg-danger .progress-bar,
  .info-box .info-box .bg-gradient-danger .progress-bar {
    background-color: #ffffff;
  }
  
  .info-box .info-box .bg-light,
  .info-box .info-box .bg-gradient-light {
    color: #1F2D3D;
  }
  
  .info-box .info-box .bg-light .progress-bar,
  .info-box .info-box .bg-gradient-light .progress-bar {
    background-color: #1F2D3D;
  }
  
  .info-box .info-box .bg-dark,
  .info-box .info-box .bg-gradient-dark {
    color: #ffffff;
  }
  
  .info-box .info-box .bg-dark .progress-bar,
  .info-box .info-box .bg-gradient-dark .progress-bar {
    background-color: #ffffff;
  }
  
  .info-box .info-box-more {
    display: block;
  }
  
  .info-box .progress-description {
    margin: 0;
  }
  
  @media (min-width: 768px) {
    .col-xl-2 .info-box .progress-description,
    .col-lg-2 .info-box .progress-description,
    .col-md-2 .info-box .progress-description {
      display: none;
    }
    .col-xl-3 .info-box .progress-description,
    .col-lg-3 .info-box .progress-description,
    .col-md-3 .info-box .progress-description {
      display: none;
    }
  }
  
  @media (min-width: 992px) {
    .col-xl-2 .info-box .progress-description,
    .col-lg-2 .info-box .progress-description,
    .col-md-2 .info-box .progress-description {
      font-size: 0.75rem;
      display: block;
    }
    .col-xl-3 .info-box .progress-description,
    .col-lg-3 .info-box .progress-description,
    .col-md-3 .info-box .progress-description {
      font-size: 0.75rem;
      display: block;
    }
  }
  
  @media (min-width: 1200px) {
    .col-xl-2 .info-box .progress-description,
    .col-lg-2 .info-box .progress-description,
    .col-md-2 .info-box .progress-description {
      font-size: 1rem;
      display: block;
    }
    .col-xl-3 .info-box .progress-description,
    .col-lg-3 .info-box .progress-description,
    .col-md-3 .info-box .progress-description {
      font-size: 1rem;
      display: block;
    }
  }



.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
  }
  
  .description-block.margin-bottom {
    margin-bottom: 25px;
  }
  
  .description-block > .description-header {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  
  .description-block > .description-text {
    text-transform: uppercase;
  }
  
  .description-block .description-icon {
    font-size: 16px;
  }


.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .products-list > .item {
    border-radius: 0.25rem;
    background: #ffffff;
    padding: 10px 0;
  }
  
  .products-list > .item::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .products-list .product-img {
    float: left;
  }
  
  .products-list .product-img img {
    height: 50px;
    width: 50px;
  }
  
  .products-list .product-info {
    margin-left: 60px;
  }
  
  .products-list .product-title {
    font-weight: 600;
  }
  
  .products-list .product-description {
    color: #6c757d;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .product-list-in-card > .item {
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .product-list-in-card > .item:last-of-type {
    border-bottom-width: 0;
  }



.users-list {
    padding-left: 0;
    list-style: none;
  }
  
  .users-list > li {
    float: left;
    padding: 10px;
    text-align: center;
    width: 25%;
  }
  
  .users-list > li img {
    border-radius: 50%;
    height: auto;
    max-width: 100%;
  }
  
  .users-list > li > a:hover,
  .users-list > li > a:hover .users-list-name {
    color: #999;
  }
  
  .users-list-name,
  .users-list-date {
    display: block;
  }
  
  .users-list-name {
    color: #495057;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .users-list-date {
    color: #748290;
    font-size: 12px;
  }

  .chart-legend {
    padding-left: 0;
    list-style: none;
    margin: 10px 0;
  }
  
  @media (max-width: 576px) {
    .chart-legend > li {
      float: left;
      margin-right: 10px;
    }
  }

  .card .nav.flex-column > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0;
  }
  
  .card .nav.flex-column > li:last-of-type {
    border-bottom: 0;
  }


/**************************/
  .open-menu {
    position: fixed;
    top: 100px;
    /*left: 10px;*/
    right: 0px;
    z-index: 997;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
    max-width: 90px!important;
}
 
.open-menu.btn-customized,
.open-menu.btn-customized:hover, 
.open-menu.btn-customized:active, 
.open-menu.btn-customized:focus, 
.open-menu.btn-customized:active:focus, 
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}
 
/* Style for all buttons with the class btn-customized */
 
a.btn-customized {
    margin-left: 5px;
    margin-right: 5px;
    padding: .75rem 1.5rem;
    background: #f35b3f;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
}
 
a.btn-customized:hover, 
a.btn-customized:active, 
a.btn-customized:focus, 
a.btn-customized:active:focus, 
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #cd533d; /* for browsers that don't recognize rgba */
    background: rgba(243, 91, 63, 0.7);
    border: 0;
    color: #fff;
    box-shadow: none;
}
/*
.sidebar .logo {
    padding: 40px 20px;
    border-bottom: 1px solid #444;
    transition: all .3s;
}
 
.sidebar .logo a {
    display: inline-block;
    width: 172px;
    height: 34px;
    background: url(../img/logo.png) left top no-repeat;
    border: 0;
    text-indent: -999999px;
}
*/


/***** Sidebar *****/

.sidebar {
    width: 350px; 
    height: 100vh; 
    position: fixed; 
    top: 60px; 
    right: -355px;
    z-index: 999; 
    /*color: #fff; */
    transition: all .3s; 
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
    
    background-color: rgba(255,255,255, 0.9);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);

}

.sidebar.active { right: 0; }

.dismiss {
    width: 35px; 
    height: 35px; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    transition: all .3s; 
    background: #7c1e1f; 
    border-radius: 4px; 
    text-align: center; 
    line-height: 35px; 
    cursor: pointer;
    color: #fff;
}

.dismiss:hover, .dismiss:focus { color: #e7e7e7; }

.sidebar .logo { padding: 40px 20px; border-bottom: 1px solid #444; transition: all .3s; }

/*.sidebar .logo a {
	display: inline-block;
	width: 172px;
	height: 34px;
	background: url(../img/logo.png) left top no-repeat;
	border: 0;
	text-indent: -999999px;
}*/

.sidebar ul.menu-elements { padding: 10px 0; border-bottom: 1px solid #444; transition: all .3s; }

.sidebar ul li a {
	display: block; 
	border: 0; 
}
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus { outline: 0; background: #555; color: #fff; }

.sidebar ul li a i { margin-right: 5px; }

.sidebar ul li.active > a, a[aria-expanded="true"] {
	background: #444;
	color: #fff;
}

.sidebar ul ul a { background: #444; padding-left: 30px; font-size: 14px; }

.sidebar ul ul li.active > a { background: #555; }

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top { padding: 20px; text-align: center; }

.sidebar .dark-light-buttons { padding: 10px 20px 30px 20px; text-align: center; }

/* sidebar light */

.sidebar.light { background: #fff; color: #888; }

.sidebar.light .dismiss { background: #ddd; color: #888; }

.sidebar.light .dismiss:hover, 
.sidebar.light .dismiss:focus { background: #ccc; color: #888; }

.sidebar.light .logo { border-color: #eee; }
/*.sidebar.light .logo a { background-image: url(../img/logo-dark.png); }*/

.sidebar.light ul.menu-elements { border-color: #eee; }

.sidebar.light ul li a { color: #888; }

.sidebar.light ul li a:hover,
.sidebar.light ul li a:focus,
.sidebar.light ul li.active > a:hover,
.sidebar.light ul li.active > a:focus { background: #ccc; color: #888; }

.sidebar.light ul li.active > a, .sidebar.light a[aria-expanded="true"] {
	background: #ddd;
	color: #888;
}

.sidebar.light ul ul a { background: #ddd; }

.sidebar.light ul ul li.active > a { background: #ccc; }

.sidebar.light a.btn-customized-3 { background: #ddd; color: #888; }

.sidebar.light a.btn-customized-3:hover, 
.sidebar.light a.btn-customized-3:active, 
.sidebar.light a.btn-customized-3:focus, 
.sidebar.light a.btn-customized-3:active:focus, 
.sidebar.light a.btn-customized-3.active:focus,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #888;
}

.sidebar.light a.btn-customized-4.btn-customized-dark { background: #555; }
.sidebar.light a.btn-customized-4.btn-customized-light { background: #eee; }

.sidebar.light a.btn-customized-4.btn-customized-dark:hover, 
.sidebar.light a.btn-customized-4.btn-customized-dark:active, 
.sidebar.light a.btn-customized-4.btn-customized-dark:focus, 
.sidebar.light a.btn-customized-4.btn-customized-dark:active:focus, 
.sidebar.light a.btn-customized-4.btn-customized-dark.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #fff;
}

.sidebar.light a.btn-customized-4.btn-customized-light:hover, 
.sidebar.light a.btn-customized-4.btn-customized-light:active, 
.sidebar.light a.btn-customized-4.btn-customized-light:focus, 
.sidebar.light a.btn-customized-4.btn-customized-light:active:focus, 
.sidebar.light a.btn-customized-4.btn-customized-light.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #fff;
}


.card {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
  }
  
  .card.bg-dark .card-header {
    border-color: #383f45;
  }
  
  .card.bg-dark,
  .card.bg-dark .card-body {
    color: #ffffff;
  }
  
  .card.maximized-card {
    height: 100% !important;
    left: 0;
    max-height: 100% !important;
    max-width: 100% !important;
    position: fixed;
    top: 0;
    width: 100% !important;
    z-index: 9999;
  }
  
  .card.maximized-card.was-collapsed .card-body {
    display: block !important;
  }
  
  .card.maximized-card [data-widget='collapse'] {
    display: none;
  }
  
  .card.maximized-card .card-header,
  .card.maximized-card .card-footer {
    border-radius: 0 !important;
  }
  
  .card.collapsed-card .card-body,
  .card.collapsed-card .card-footer {
    display: none;
  }
  
  .card .nav.flex-column > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0;
  }
  
  .card .nav.flex-column > li:last-of-type {
    border-bottom: 0;
  }
  
  .card.height-control .card-body {
    max-height: 300px;
    overflow: auto;
  }
  
  .card.height-control .card-body ht5{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .card .border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card .border-left {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card.card-tabs:not(.card-outline) .card-header {
    border-bottom: 0;
  }
  
  .card.card-tabs:not(.card-outline) .card-header .nav-item:first-child .nav-link {
    margin-left: -1px;
  }
  
  .card.card-tabs.card-outline .nav-item {
    border-bottom: 0;
  }
  
  .card.card-tabs.card-outline .nav-item:first-child .nav-link {
    border-left: 0;
    margin-left: 0;
  }
  
  .card.card-outline-tabs {
    border-top: 0;
  }
  
  .card.card-outline-tabs .card-header .nav-item:first-child .nav-link {
    border-left: 0;
    margin-left: 0;
  }
  
  .card.card-outline-tabs .card-header a {
    border-top: 3px solid transparent;
  }
  
  .card.card-outline-tabs .card-header a:hover {
    border-top: 3px solid #dee2e6;
  }
  
  .card.card-outline-tabs .card-header a.active:hover {
    margin-top: 0;
  }
  
  html.maximized-card {
    overflow: hidden;
  }
  
  .card-header::after,
  .card-body::after,
  .card-footer::after {
    display: block;
    clear: both;
    content: "";
  }


  .card-body .media .media-body .title5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-body .close{
    position: absolute;
    top: 7px;
    font-size: 14px;
    right: 12px;
  }
  
  .card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .collapsed-card .card-header {
    border-bottom: 0;
  }
  
  .card-header > .card-tools {
    float: right;
    margin-right: -0.625rem;
  }
  
  .card-header > .card-tools .input-group,
  .card-header > .card-tools .nav,
  .card-header > .card-tools .pagination {
    margin-bottom: -0.3rem;
    margin-top: -0.3rem;
  }
  
  .card-header > .card-tools [data-toggle='tooltip'] {
    position: relative;
  }
  
  .card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
  }
  
  .card-text {
    clear: both;
  }


.nav-custom a{
    color: #58bed0; 
    margin-right: 0px;    
    margin-top: 40px;
}

.nav-link.active {
    color: #7c1e1f !important;
}