
#cookie_policy_popup {
    display: none;
    position: fixed;
    bottom: 50px;
    left: 15px;
    width: 320px;
    box-sizing: border-box;
    height: auto;
    border-radius: 10px;
    padding: 0;
    background: #6f1d1f;
    z-index: 999999;
    font-size: 14px;
    box-shadow: 0 0 8px rgba(0,0,0,.6);
}

.cookie-icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: -60px;
    background: #6f1d1f;
    text-align: center;
    padding-left: 5px;
    box-sizing: border-box;
    padding-top: 10px;
}

.cookie_popup_text {
    color: #fff;
    line-height: 1.3;
    font-size: 16px;
    padding: 0 10px;
    text-align: center;
}

.cookie_popup_buttons {
    background: #fff;
    margin-top: 15px;
    position: relative;
    padding: 12px;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 0;
}

.cookie_popup_buttons .btn.btn-ghost {
    background: #e8e8e8;
    color: #7c1e1f;
    border-color: transparent;
}

.cookie_popup_buttons .btn {
    padding: 6px 10px;
    display: inline-block;
    background: #ccc;
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    width: 100px;
    text-align: center;
}

.cookie_popup_buttons .btn.btn-plain {
    float: right;
    background: #7c1e1f;
    color: #fff;
}

.cookie_popup_buttons .btn {
    padding: 6px 10px;
    display: inline-block;
    background: #ccc;
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    width: 100px;
    text-align: center;
}

/*------------------*/

@media (max-width: 360px){
    #cookie_policy_popup {
        padding: 10px;
    }
}


@media (max-width: 673px){
    #cookie_policy_popup {
        display: none;
        position: fixed;
        bottom: 45px;
        left: 0;
        width: 231px;
        height: auto;
        padding: 10px 15px;
        background: #fff;
        border: 1px solid #e3dfdf;
        z-index: 999999;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: 14px;
    }

    .cookie_popup_text {
        font-size: 13px;
        color: #000;
        line-height: 1.3;
    }
    .cookie-icon {
        display: none;
    }
}

@media (max-width: 992px){
    #cookie_policy_popup {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }
}
