@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mzhzyb');
  src:  url('fonts/icomoon.eot?mzhzyb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mzhzyb') format('truetype'),
    url('fonts/icomoon.woff?mzhzyb') format('woff'),
    url('fonts/icomoon.svg?mzhzyb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-parqueo:before {
  content: "\e964";
}
.icon-atencion_cliente:before {
  content: "\e965";
}
.icon-bienes_raices:before {
  content: "\e966";
}
.icon-club_nocturno:before {
  content: "\e967";
}
.icon-cocina:before {
  content: "\e968";
}
.icon-estudio_grabacion:before {
  content: "\e969";
}
.icon-estudio_juridico:before {
  content: "\e96a";
}
.icon-fotocopia_impresion:before {
  content: "\e96b";
}
.icon-jardineria:before {
  content: "\e96c";
}
.icon-fumigacion:before {
  content: "\e94c";
}
.icon-lavado_auto:before {
  content: "\e94d";
}
.icon-aceite:before {
  content: "\e94e";
}
.icon-artesania:before {
  content: "\e94f";
}
.icon-carpintero:before {
  content: "\e950";
}
.icon-cerrajero_llaves:before {
  content: "\e951";
}
.icon-instalacion_electrica:before {
  content: "\e952";
}
.icon-llanta:before {
  content: "\e953";
}
.icon-maquina_escribir:before {
  content: "\e954";
}
.icon-motocicleta:before {
  content: "\e955";
}
.icon-mueble:before {
  content: "\e956";
}
.icon-peluqueria:before {
  content: "\e957";
}
.icon-reloj:before {
  content: "\e958";
}
.icon-soldadura:before {
  content: "\e959";
}
.icon-zapateria:before {
  content: "\e95a";
}
.icon-caza_pesca:before {
  content: "\e95b";
}
.icon-bolos:before {
  content: "\e95c";
}
.icon-ciclista:before {
  content: "\e95d";
}
.icon-cine:before {
  content: "\e95e";
}
.icon-coliseo:before {
  content: "\e95f";
}
.icon-gimnasio:before {
  content: "\e960";
}
.icon-juego_dados:before {
  content: "\e961";
}
.icon-karting:before {
  content: "\e962";
}
.icon-nintendo:before {
  content: "\e963";
}
.icon-funeraria:before {
  content: "\e93a";
}
.icon-auditorio:before {
  content: "\e93b";
}
.icon-cremacion:before {
  content: "\e93c";
}
.icon-religion:before {
  content: "\e93d";
}
.icon-seguridad:before {
  content: "\e93e";
}
.icon-teatro:before {
  content: "\e93f";
}
.icon-hipismo:before {
  content: "\e940";
}
.icon-corte_confeccion:before {
  content: "\e941";
}
.icon-educacion:before {
  content: "\e942";
}
.icon-ballet:before {
  content: "\e943";
}
.icon-cuna:before {
  content: "\e944";
}
.icon-tenis:before {
  content: "\e945";
}
.icon-piloto:before {
  content: "\e946";
}
.icon-natacion:before {
  content: "\e947";
}
.icon-cambio_moneda:before {
  content: "\e948";
}
.icon-alquiler:before {
  content: "\e949";
}
.icon-telecomunicacion:before {
  content: "\e94a";
}
.icon-saneamiento:before {
  content: "\e94b";
}
.icon-pizza:before {
  content: "\e927";
}
.icon-saltenia_masas:before {
  content: "\e928";
}
.icon-restaurant:before {
  content: "\e929";
}
.icon-chancho_frito:before {
  content: "\e92a";
}
.icon-chorizeria:before {
  content: "\e92b";
}
.icon-churrasqueria:before {
  content: "\e92c";
}
.icon-gasolineria:before {
  content: "\e92d";
}
.icon-cafe:before {
  content: "\e92e";
}
.icon-pescado_frito:before {
  content: "\e92f";
}
.icon-libreria_biblioteca:before {
  content: "\e930";
}
.icon-licoreria:before {
  content: "\e931";
}
.icon-comercio_venta:before {
  content: "\e932";
}
.icon-optica:before {
  content: "\e933";
}
.icon-perfumeria:before {
  content: "\e934";
}
.icon-floreria:before {
  content: "\e935";
}
.icon-foto_estudio:before {
  content: "\e936";
}
.icon-frigorifico:before {
  content: "\e937";
}
.icon-joyeria:before {
  content: "\e938";
}
.icon-kiosco:before {
  content: "\e939";
}
.icon-almacen:before {
  content: "\e926";
}
.icon-prendas_vestir:before {
  content: "\e923";
}
.icon-importaciones:before {
  content: "\e924";
}
.icon-piscicola:before {
  content: "\e925";
}
.icon-ferreteria:before {
  content: "\e900";
}
.icon-disqueria:before {
  content: "\e901";
}
.icon-carniceria:before {
  content: "\e902";
}
.icon-articulos_limpieza:before {
  content: "\e903";
}
.icon-venta:before {
  content: "\e904";
}
.icon-fabrica_ladrillo:before {
  content: "\e905";
}
.icon-viguetas_pretensadas:before {
  content: "\e906";
}
.icon-energia_electrica:before {
  content: "\e907";
}
.icon-suministro_energia:before {
  content: "\e908";
}
.icon-industria_metal_mecanica:before {
  content: "\e909";
}
.icon-imprenta:before {
  content: "\e90a";
}
.icon-fabrica:before {
  content: "\e90b";
}
.icon-otras_industria_madera:before {
  content: "\e90c";
}
.icon-aserradero:before {
  content: "\e90d";
}
.icon-fabricacion_zapato:before {
  content: "\e90e";
}
.icon-textiles:before {
  content: "\e90f";
}
.icon-lavanderia:before {
  content: "\e910";
}
.icon-jugo:before {
  content: "\e911";
}
.icon-gaseosas:before {
  content: "\e912";
}
.icon-helado:before {
  content: "\e913";
}
.icon-pandeneria:before {
  content: "\e914";
}
.icon-alimento_vegetariano:before {
  content: "\e915";
}
.icon-extraccion_minerales:before {
  content: "\e916";
}
.icon-explotacion_minera:before {
  content: "\e917";
}
.icon-silvicultura:before {
  content: "\e918";
}
.icon-tutuma:before {
  content: "\e919";
}
.icon-servicios_agricolas:before {
  content: "\e91a";
}
.icon-porcinos:before {
  content: "\e91b";
}
.icon-ovinos:before {
  content: "\e91c";
}
.icon-licores:before {
  content: "\e91d";
}
.icon-industria_lechera:before {
  content: "\e91e";
}
.icon-floricultura:before {
  content: "\e91f";
}
.icon-botella_vino:before {
  content: "\e920";
}
.icon-avicola:before {
  content: "\e921";
}
.icon-agroquimico:before {
  content: "\e922";
}
