
/* redes sociales*/
.whatsapp-icon {
    position: fixed;
    right: 0;
    top: 250px;
    z-index: 999;
}

.whatsapp-icon:hover .hover-text {
    display: block !important;
    position: absolute;
    width: 190px;
    height: 120px;
    right: 63px;
    background: rgb(26, 193, 90);
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
    border-bottom-right-radius: 0;
    line-height: 1.5;
    font-size: 14px;
    color: #fff;
    top: -20px;
    z-index: 99999999999999999999;
    border: 5px solid #fff;
    box-shadow: 0 0 2px #a09797;
}

.hover-text:after {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #1ac15a;
    content: "";
    right: -16px;
    top: 45px;
    position: absolute;
}

.whatsapp-icon a {
    color: #fff;
    text-decoration: none;
}



/*------------------*/
/*.atencion-virtual {
}
*/
.atencion-virtual:hover .hover-content-virtual {
    display: block !important;
    position: absolute;
    width: 290px;
    height: 212px;
    background: rgb(26, 193, 90);
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
    border-bottom-right-radius: 0;
    line-height: 1.5;
    font-size: 14px;
    color: #fff;
    top: -200px;
    left: -8px;
    z-index: 99999999999999999999;
    border: 5px solid #fff;
    box-shadow: 0 0 2px #a09797;
}

.hover-content-virtual:after {
    width: 0;
    height: 0;
    border-top: 16px solid #1ac15a;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    content: "";
    right: 125px;
    bottom: -20px;
    position: absolute;
}

.atencion-virtual:hover .hover-content-virtual img {
    width: 32px;
}


@media (max-width: 673px){

    .atencion-virtual:hover .hover-content-virtual{
        /*right: 70px;*/
        left: 15px;
    }
    

}