.strength_meter {
    /*position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 26px;
    z-index: -1;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;*/

    position: absolute;
    left: 0px;
    top: -30px;
    width: 100%;
    height: 26px;
    z-index: -1;
    border-radius: 5px;
}

.button_strength {
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
}

.strength_meter div {
    width: 0%;
    height: 26px;
    text-align: right;
    color: #000;
    line-height: 26px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-right: 12px;
    border-radius: 5px;
}

.strength_meter div p {
    position: absolute;
    right: 0px;
    font-size: 13px;
    padding-right: 15px;
}

.veryweak {
    background-color: #FFA0A0;
    border-color: #F04040 !important;
    width: 25% !important;
}

.weak {
    background-color: #FFB78C;
    border-color: #FF853C !important;
    width: 50% !important;
}

.medium {
    background-color: #FFEC8B;
    border-color: #FC0 !important;
    width: 75% !important;
}

.strong {
    background-color: #C3FF88;
    border-color: #8DFF1C !important;
    width: 100% !important;
}